/* Arianne Butler - Artwork css file */
/* Saskatoon, SK - November 2016	 */

body {
	text-align:center;
	color: #000000;
	font-family: Bradley Hand ITC;
}

img { 
	width: 250px; 
	height: 250px;
	border-radius: 0.4em;
}

img:hover {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For Internet Explorer */
}

#mainTitle {	
	font-size: 180%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: #000000;	
	height: 30px;
}

